<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-brown fade-up mr-5"  href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-brown fade-up mr-5"  href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-brown fade-up mr-5"  href="{% url 'packages' %}">Packages</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-brown fade-up mr-5"  href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</div>